<!-- <router-outlet></router-outlet> -->
<h1>
  TESTANDO GIT FLOW
</h1>

<br>
<br> 
<div>
<!-- [progressValue]="counterProgress" [progressValue] event input no componente filho -->
<!-- "counterProgress" valor declarado no componente pai passando para componente filho-->
<app-progress-bar [progressValue]="counterProgress" ></app-progress-bar>
<!-- Variavel TotalCountdown declarada no componente pai passando para componente filho-->
<!-- [initial]="totalCountdown" passando valor para o filho -->
<!-- (onDecrease)="updateProgress($event)" Escutando evento (onDecrease) -->
<!-- updateProgress($event) passando valor para a função no componente pai -->
<app-countdown #countdown
  [initial]="totalCountdown" 
  (onDecrease)="updateProgress($event)"
  (onComplete)="countdownFinished()"
></app-countdown>

<div class="initialInput">
  <!-- for="totalCountdown" -->
  <label>Initial Value: </label>
  <input id="totalCountdown" type="number" [(ngModel)]="totalCountdown" >
</div> 

<app-progress-bar-advanced [progressValueAdvanced]="75"></app-progress-bar-advanced>
<button (click)="countdown.startCountDown(); counterProgress=0;">REENVIAR DADOS</button>
</div>