/* Alterando a propriedade CSS do componente app-progress-bar pelo scss do app.component
*/

/*
app-progress-bar {

    background-color: red;
   
} */

button{
    width: 100%;
    height: 40px;
    background-color: yellowgreen;
    color: black;
    font-weight: bold;
    border:2px solid black;
}

.initialInput{
  display: flex;
 
  input{
    margin-left: 1.3rem; //quase + - 20px
    height: 2.5rem; //quase + - 40px 
    font-size: 1.3rem;
    flex: 1;
    min-width: 2.2rem; // + - 50px
  }

}