<!-- <router-outlet></router-outlet>
<h1>
  Hello
</h1>

<br>
<br> -->
<h1>
<!-- [progressValue]="counterProgress" [progressValue] event input no componente filho -->
<!-- "counterProgress" valor declarado no componente pai passando para componente filho-->
<app-progress-bar [progressValue]="counterProgress" ></app-progress-bar>
<!-- Variavel TotalCountdown declarada no componente pai passando para componente filho-->
<!-- [initial]="totalCountdown" passando valor para o filho -->
<!-- (onDecrease)="updateProgress($event)" Escutando evento (onDecrease) -->
<!-- updateProgress($event) passando valor para a função no componente pai -->
<app-countdown 
  [initial]="totalCountdown"  onDecrease onComplete
  (onDecrease)="updateProgress($event)"
  (onComplete)="countdownFinished()"
  ></app-countdown>
<app-progress-bar-advanced [progressValueAdvanced]="75"></app-progress-bar-advanced>
</h1>